@text-align-options: left, right, center, justify, start, end, match-parent;

.generate-text-align(@index) when (@index > 0) {
  @option: extract(@text-align-options, @index);
  .text-align-@{option} {
    text-align: @option;
  }
  .generate-text-align(@index - 1);
}

.generate-text-align(length(@text-align-options));

.text-bold {
  font-weight: bold;
}
.text-italic {
  font-style: italic;
}
.text-underline {
  text-decoration: underline;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-capitalize {
  text-transform: capitalize;
}
