// Grid Variables
@from-small: ~"screen and (min-width: 0px)";
@from-mid: ~"screen and (min-width: 600px)";
@from-large: ~"screen and (min-width: 900px)";

//Columns Variables
@col-1: (1/12) * 100%;
@col-2: (2/12) * 100%;
@col-3: (3/12) * 100%;
@col-4: (4/12) * 100%;
@col-5: (5/12) * 100%;
@col-6: (6/12) * 100%;
@col-7: (7/12) * 100%;
@col-8: (8/12) * 100%;
@col-9: (9/12) * 100%;
@col-10: (10/12) * 100%;
@col-11: (11/12) * 100%;
@col-12: (12/12) * 100%;

//Imports
@import "row";
@import "column";
@import "hide";
@import "container";
