.hide-from-s {
  display: none;
}

@media @from-mid {
  .hide-from-m {
    display: none;
  }
}

@media @from-large {
  .hide-from-l {
    display: none;
  }
}

@media @from-extra-large {
  .hide-from-xl {
    display: none;
  }
}
