.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: @padding*2;
	margin: @margin;
	padding: 0 @padding;
	font-size: 14px;
	font-weight: 500;
	//color: #fff;
	//background-color: #007bff;
	border: none;
	border-radius: @border-radius;
	cursor: pointer;
	text-decoration: none;
	transition: @transition;

	&:hover {
		filter: @darkness;
	}

	&:focus {
		outline: none;
		border: none;
		box-shadow: @shadow;
	}
}

/*.button {
	text-decoration: none;
	text-align: center;
	border: none;
	padding: 6px 12px;
	transition: @transition;
	box-shadow: @shadow;
	border-radius: @border-radius;
	cursor: pointer;
	&:hover {
		filter: @brightness;
	}
	&:disabled {
		filter: grayscale(100%);
	}
}
*/
