input[type="password"],
input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="textarea"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="search"],
input[type="submit"],
textarea {
	width: 100%;
}
input[type="submit"] {
	border: 0px;
	.button;
	min-height: 36px;
}

input,
textarea {
	padding: 12px;
	margin-bottom: 6px;
	margin-top: 6px;
	border: 1px solid @black;
	outline: none;
	vertical-align: middle;
	border-radius: 8px;
	background-color: @white;
	color: @navy;
	transition: @transition;
	&:focus,
	&:hover {
		border-color: @blue;
	}
}
