each(@colors,{
    .@{key} {
        color: @value;
    }
    .@{key}-bg {
        background-color: @value;
    }
});

.light-hover {
  transition: @transition;
}
.light-hover:hover {
  filter: @brightness;
}

.dark-hover {
  transition: @transition;
}
.dark-hover:hover {
  filter: @darkness;
}
