* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	line-height: normal;
	color: #333;
	background-color: transparent;
	text-align: left;
	text-decoration: none;
}
//Global variables
//@margin: 12px;
//@padding: 20px;
@transition: all 0.2s ease-in-out;
//@border-radius: 4px;
//@shadow: 0px 2px 4px 0px gray;
@brightness: brightness(1.2);
@darkness: brightness(0.8) contrast(120%);

@import "colors/_all";
@import "helpers/_all";
@import "grid/_all";
